includes:
    - vendor/saschaegerer/phpstan-typo3/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 8
    phpVersion: 80400
    paths:
        - Classes
        - Configuration
        - Tests
        - ext_localconf.php
    tmpDir: .Build/phpstan
    treatPhpDocTypesAsCertain: false
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
